* {
    padding: 0;
    margin: 0;
}
div.parent {
    text-align: center;
    background-color: gray;
    width: 80%;
    margin: 100px auto;
    padding: 10px;
    color: #fff;
}

div.parent div.icon {
    background-color: rgb(80, 71, 71);
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */

}

.parent div.icon span {
    background-color: rgb(170, 38, 38);
    display: block;
    width: 20%;
    height: 20%;
}
.parent div.icon span:last-child {
    /* transform: translateY(100%); */
}

.parent .links {
    background-color: black;
    list-style: none;
}

.parent .links li {
    display: inline-block;
    margin: 0 20px;
}